#!/bin/sh
#
# $FreeBSD$
#

# PROVIDE: uhidd
# REQUIRE: DAEMON cleanvar
# KEYWORD: nojail shutdown

. /etc/rc.subr

# Usage:
#	uhidd start ugenX.Y	# start uhidd on device 'ugenX.Y'
#	uhidd stop ugenX.Y	# stop uhidd on device 'ugenX.Y'
#	uhidd stop		# stop all uhidd instances.

name="uhidd"
rcvar=`set_rcvar`
command="/usr/local/sbin/${name}"
start_cmd="uhidd_start"
pidprefix="/var/run/uhidd"

load_rc_config $name

if [ -n "$2" ]; then
	pidfile="${pidprefix}.`basename $2`.pid"
else
	pidfile=
fi

uhidd_start()
{
	/usr/local/sbin/uhidd ${uhidd_flags} $1
}

run_rc_command $*
